 <div class="row">
  <div class="col-xs-8 col-sm-4"></div>
  <div class="col-xs-8 col-sm-4 col-offset-4">

    <h1>Sign-up</h1>

    <!-- new user form -->
    <%= form_for @user do |f| %>
  		<div class="form-group">
	  		<%= f.label :first_name %>:
	  		<%= f.text_field :first_name, class: "form-control", :autofocus => true %>
  		</div>

  		<div class="form-group">
	  		<%= f.label :last_name %>:
	  		<%= f.text_field :last_name, class: "form-control" %>
  		</div>

  		<div class="form-group">
	  		<%= f.label :email %>:
	  		<%= f.email_field :email, class: "form-control" %>
  		</div>

  		<div class="form-group">
	  		<%= f.label :password %>:
	  		<%= f.password_field :password, class: "form-control" %>
  		</div>

  		<div class="form-group">
	  		<%= f.label :image_url %>:
	  		<%= f.text_field :image_url, class: "form-control" %>
  		</div>

  		<div class="form-group">
	  		<%= f.submit "Create User", class: "form-control btn btn-danger" %>
  		</div>
  	<% end %>
  </div>
  <div class="col-xs-8 col-sm-4"></div>
  <div class="clearfix visible-xs-block"></div>

    <div class="col-xs-12 col-sm-8 col-sm-offset-4">
      <nav>
        <div class="btn btn-default">
          <a href="/">Root</a>
        </div>
        <div class="btn btn-default">
          <a href="/users/new">Sign-up</a>
        </div>
        <div class="btn btn-default">
           <a href="/login">Login</a>
        </div>
        <div class="btn btn-default">
          <a href="/rentals">Rentals Index</a>
        </div>
        <div class="btn btn-default">
          <a href="/users/1/rentals/new">Rentals New</a>
        </div>
      </nav>
  </div>

</div>