
<%= render partial: "site/nav", locals: { user: @user }  %>

<!-- ROW 1 of 3 -->
<div class="row" id="welcome">
  <div class="col-xs-12 col-sm-1 col-offset-1">
    <!-- USER IMAGE -->
    <img src="<%= @user.image_url %>" id="user-image">
  </div>

  <div class="col-sm-6 col-sm-offset-1">
    <!-- WELCOME MESSAGE -->
    <% if @current_user == @user %>
      <h3>Hello, <%= @current_user.first_name %> <%= @current_user.last_name %>!</h3>

         <!-- EDIT PROFILE BUTTON -->
         <div class="col-sm-1 col-sm-offset-12">
           <button class="btn btn-danger btn-sm" id="profile-edit">Edit Profile</button>
         </div>

    <% else %>
      <h3><%= @user.first_name %> <%= @user.last_name %></h3>
   <% end %>
  </div>
</div>


<!-- BREAKING UP PAGE FOR COOL COLORS -->
<div class="rest-of-page">


<!-- ROW 2 of 3 -->
<!-- HIDES ALL TO NON-CURRENT USERS -->
<% if @current_user == @user %>

  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-1">
      <!-- CURRENT LISTING -->
      <div class="user-listing">
        <% @user.rentals.each do |rental| %>
          <p><strong>Your current listing:</strong></p>
          <p><%= rental.title %></p>
          <p> <%= rental.description %></p>
          <p>Current asking price: $<%= rental.price %>/day</p>
          <!-- CURRENTLY NOT FUNCTIONAL 9/3 8:40pm -->
          <button class="btn btn-danger btn-sm">Edit Listing</button>
        <% end %>

      <!-- user listing closing div -->
      </div>



      <div class="pending-requests">
       <!-- PENDING REQUESTS -->
      <% if @owners_agreements.length > 0 %>
       <h5>You have <%= @owners_agreements.length %> pending rental requests</h5>
         <% @owners_pending_agreements.each do |agreement| %>
            <!-- setting variables -->
            <% agreementid = agreement.rental_id %>
            <% rental = Rental.find_by_id(agreementid) %>

            <% renterid = agreement.user_id %>
            <% user = User.find_by_id(renterid) %>

            <!-- REQUESTER INFORMATION -->
            <div class="single-request">
              <p><a href="/users/<%= renterid %>"><%= user.first_name %> <%= user.last_name %></a></p>
              <p>Message: <%= agreement.rent_date %></p>
              <!-- APPROVAL BUTTONS -->
              <form action="/rentals/<%= agreement.rental_id %>/agreements/<%= agreement.id %>" method="patch" class="approval-form">
                <input type="submit" value="Approve" name="approve" class="btn btn-success btn-sm"></input>
                <input type="submit" value="Decline" name="decline" class="btn btn-danger btn-sm"></input>
              </form>
            </div>
          <!-- end each do block -->
        <% end %>
        <!-- end if @owners_agreements.length -->
      <% end %>
      </div>
    </div>

    <!-- REVIEWS -->
    <!-- ONLY VISIBLE TO CURRENT USER -->
    <div class="col-sm-5 col-sm-offset-1">
      <h4> <%= @user.reviews.length %> people have reviewed you!</h4>
      <a href="javascript:void(0);" id="review-show-link">See your reviews</a>
          <div id ="userreview-display-CU">
            <% if @user.reviews.length > 0 %>
              <% @user.reviews.each do |review| %>
                <% if review.description != nil %>
                  <p><%= review.description %></p> <br>
                <% end %>
              <% end %>
            <% end %>
          </div>
    </div>
<!-- closing row 2 -->
</div>


<!-- ONLY VISIBLE TO NON-CURRENT USERS -->
<% else %>

    <div class="row">
     <div class="col-sm-5 col-sm-offset-1">
      <!-- RENTAL DISPLAY -->
        <div id="rental-listing">
          <a href="/users/<%= @user.id%>/rentals/<%= @user.rentals[0].id %>"><h3><%= @user.rentals[0].title %></h3></a>
            <p><strong>About this backyard:</strong></p>
            <p><%= @user.rentals[0].description %></p>
            <img src="<%= @user.rentals[0].image_url %>" id="rental-pic"><br>

            <p><strong>Rent it for the day: </strong></p>
            <p>$<%= @user.rentals[0].price %></p>
        </div>
      </div>

    <div class="col-sm-4">
    <!-- USER REVIEW FORM -->
       <p> Have you visited <%= @user.first_name %>? <a href="javascript:void(0);" id ="userreview-button">Leave a review</a></p>
          <form id="user-review" action="/users/<%= @user.id %>/reviews" method="post">

              <div class= "form-group">
                <label>Rating (1-5):</label>
                <input type="range" min="1" max="5" step="1" value="1" name="review[rating]" id="rating-val" autofocus/>

                <label>Add a review:</label>
                <textarea class="form-control" rows="5" cols="100" name="review[description]" id="description-val" placeholder="Leave a review"></textarea>
              </div>

                <%= token_tag form_authenticity_token %>

                <input type="submit" value: "Add Review", class="btn btn-danger">
          </form>

        <!-- REVIEWS DISPLAY -->
        <% if @user.reviews.length > 0 %>
          <h3>Reviews (<%= @user.reviews.length %>)</h3>
          <% @user.reviews.each do |review| %>
            <% if review.description != nil %>
              <div id="userreview-display">
                <span><img src="https://cdn0.iconfinder.com/data/icons/octicons/1024/heart-24.png"></span> <%= review.description %><br>
              </div>
            <% end %>
        <% end %>
      <% end %>
    </div>

  <!-- closing row 3 -->
  </div>
<% end %>


</div>
