<%= render partial: "site/nav", locals: { user: @user } %>


<div class="row">
  <%= @rentals.each do |rental| %>
    <div class = "col-xs-6 col-md-4"%>
      <!-- need to add route when models are figured out -->
      <div class="thumbnail">

        <div class="crop-height">
          <img class="rental-pic" data-src="holder.js/300x300" src="<%= rental.image_url %>">
        </div>
        <div class="post-content">
          <p>$ <%= rental.price %> </p>
        </div>
        <div class="caption">
          <p><a href="/users/<%=rental.user_id%>/rentals/<%=rental.id%>"><%= rental.title %></a></p>
          <p>Location: <%= rental.location %> </p>
        </div>
      </div>
    </div>
  <% end %>
</div>