<%= render partial: "site/nav", locals: { user: @user } %>


<div class="row">
  <% @rentals.each do |rental| %>
    <div class = "col-xs-6 col-md-4">
      <div class="thumbnail">

        <!-- RENTAL IMAGE  -->
        <div class="crop-height1" style="position: relative; left: 0; top: 0;">
          <img class="rental-pic" data-src="holder.js/300x300" src="<%= rental.image_url %>" style="position: relative; top: 0; left: 0;">
        </div>

        <!-- RENTAL PRICE -->
        <div class="price-on-rental">
          <p>$ <%= rental.price %> </p>
        </div>
        <br>

        <!-- DATE SUBMIT FORM -->
        <%= form_for [rental, @agreement] do |f| %>
          <div class="form-group">
            <%= f.text_field :rent_date, placeholder: "MM/DD/YY" %>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-danger">Book it!</button>
          </div>
        <% end %>

        <!-- RENTAL TITLE / LOCATION -->
        <div class="caption">
          <p><a href="/users/<%=rental.user_id%>/rentals/<%= rental.id %>"><%= rental.title %></a></p>
          <p>Location: <%= rental.location %> </p>
        </div>

        <!-- OWNER PROFILE IMAGE -->
        <div>
          <img class="user-pic-on-rental-pic" data-src="holder.js/300x300" src="<%= rental.user.image_url %>" border="5"/>
        </div>
      </div>
    </div>
  <% end %>
</div>