
<div class="row">
  <div class="col-xs-8 col-sm-4">
     <h1>Rentals Index</h1>

    <div class="col-xs-8 col-sm-4">

      <%= @rentals.each do |rental| %>
        <li>
          <!-- need to add route when models are figured out -->
          <a href="#"><%= rental.title %></a>
          <br>
          <p>Location:
            <%= rental.location %>
          </p>
          <p>Price:
            <%= rental.price %>
          </p>
          <img src="<%= rental.image_url %>">
        </li>
      <% end %>

    </div>
  </div>
</div>
