<%= render partial: "site/nav", locals: { user: @user } %>

<div id="rentalsHeader" class="row">
  <div class="col-xs-12 col-sm-4 col-sm-offset-4">
    <h1>Rentals Index</h1>

  </div>
</div>

<div class="row">
  <%= @rentals.each do |rental| %>
    <div class = "col-xs-12 col-md-4"%>
      <!-- need to add route when models are figured out -->
      <div class="thumbnail">
        <img class="rentalPic" data-src="holder.js/300x300" src="<%= rental.image_url %>">
          <div class="caption">
            <p><a href="/users/<%=rental.user_id%>/rentals/<%=rental.id%>"><%= rental.title %></a></p>
            <p>Location: <%= rental.location %> </p>
            <p>$ <%= rental.price %> </p>
          </div>
        </div>
    </div>
  <% end %>
</div>