 <div class="row">
  <div class="col-xs-8 col-sm-4">test 1</div>
  <div class="col-xs-8 col-sm-4">
  	<%= form_for [@user, @rental] do |f| %>
  		<div class="form-group">
	  		<%= f.label :title %>:
	  		<%= f.text_field :title, autofocus: true, class: "form-control" %>
  		</div>

  		<div class="form-group">
	  		<%= f.label :description %>:
	  		<%= f.text_area description:, class: "form-control" %>
  		</div>

  		<div class="form-group">
	  		<%= f.label :address %>:
	  		<%= f.text_field :address, class: "form-control" %>
  		</div>

  		<div class="form-group">
	  		<%= f.label :price %>:
	  		<%= f.number_field :price, class: "form-control" %>
  		</div>

  		<div class="form-group">
	  		<%= f.label :catagory %>:
	  		<%= f.text_field :catagory, :placeholder  place class: "form-control" %>
  		</div>

  		<div class="form-group">
	  		<%= f.label :image_url %>:
	  		<%= f.text_field :image_url, class: "form-control" %>
  		</div>

  		<div class="form-group">
	  		<%= f.submit "Create User", class: "form-control btn btn-danger" %>
  		</div>
  	<% end %>

  </div>
  <div class="col-xs-8 col-sm-4">test 3</div>
  <div class="clearfix visible-xs-block"></div>

</div>