<%= render partial: "site/nav", locals: { user: @user }  %>

<!-- display rental information -->
<div class="row">

  <div class="col-xs-12 col-sm-5 col-sm-offset-1">
     <h1><%= @rental.title %></h1>
     <img src="<%= @rental.image_url %>">
     <p><%= @rental.location %></p>
     <p>$<%= @rental.price %></p>
     <p><%= @rental.description %></p>
  </div>

   <!-- review form -->
   <div class="col-sm-3">
    <a href="javascript:void(0);" id="review-button"><h4>Add a review</h4></a>
      <form id="rental-review" action="/users/<%= @rental.user.id %>/rentals/<%= @rental.id %>/reviews" method="post">
        <div class= "form-group">
          <!-- hidden input to get current user id  -->
         <!--  <input type="hidden" value="<%= @user.id %>" name="review[user_id]" id="user-val"> -->

          <label>Rating (1-5):</label>
          <input type="range" min="1" max="5" step="1" value="1" name="review[rating]" id="rating-val" autofocus/><br>

          <label>Add a review:</label>
          <textarea rows="5" cols="75" name="review[description]" id="description-val" placeholder="Leave a review"></textarea>

          <%= token_tag form_authenticity_token %>
          <input type="submit" value: "Add Review", class="btn btn-danger">
        </div>
      </form>

    <!-- review display -->
    <div id="review-container">


    </div>

    <% if @rental.reviews.length == 1 %>
      <p>This backyard has <%= @rental.reviews.length %> review</p>
      <% else %>
      <p>This backyard has <%= @rental.reviews.length %> reviews</p>
      <% end %>
        <% if @rental.reviews.length > 0 %>
          <% @rental.reviews.each do |r|%>
            <% if r.rating != nil %>
              <h3>Rating: <%= r.rating %> </h3>
              <h3>Review: <%= r.description %></h3>
            <% end %>
          <% end %>
        <% end %>

   </div>

</div>