
<div class="row">
  <div class="col-xs-8 col-sm-4">
     <h1><%= @rental.title %></h1>
     <img src="<%= @rental.image_url %>">
     <p><%= @rental.location %></p>
     <p><%= @rental.price %></p>
     <p><%= @rental.description %></p>
     <p><%= @rental.description %></p>
    </div>
  </div>
</div>