<%= render partial: "site/nav", locals: { user: @user }  %>

<div class="row">

  <div class="col-xs-8 col-sm-4"></div>
  <div class="col-xs-8 col-sm-4">
     <h1><%= @rental.title %></h1>
     <img src="<%= @rental.image_url %>">
     <p><%= @rental.location %></p>
     <p>$<%= @rental.price %></p>
     <p><%= @rental.description %></p>




     <%= @reviews.each do |review| %>
     <h3><%= review.description %></h3>
     <p><%= review.rating %></p>
     <% end %>

      <!-- not working yet -->
      <%= button_to "Delete", action: "destroy", method: "delete" %>
    <div class="col-xs-8 col-sm-4">
    </div>
  </div>

  <!-- add go back button to previous results page  -->
</div>