<%= render partial: "site/nav", locals: { user: @user }  %>

<div class="row">

  <div class="col-xs-8 col-sm-4"></div>
  <div class="col-xs-8 col-sm-4">
     <h1><%= @rental.title %></h1>
     <img src="<%= @rental.image_url %>">
     <p><%= @rental.location %></p>
     <p>$<%= @rental.price %></p>
     <p><%= @rental.description %></p>



    <div class="col-xs-8 col-sm-4">
    </div>

    <h2>Add a review</h2>
      <form action = "/users/<%= @user.id %>/rentals/<%= @rental.id %>/reviews" method="post">
        <div class= "form-group">
          <label>Rating:</label>
          <input type="range" min="1" max="5" step="1" value="1" name = "review[rating]" autofocus/>
          <label>Add a review:</label>
          <textarea rows="5" cols="100" name="review[description]" placeholder="Leave a review"></textarea>

          <%= token_tag form_authenticity_token %>
          <input type="submit" value: "Add Review", class="btn btn-danger">
        </div>
      </form>
  </div>

  <!-- add go back button to previous results page  -->
</div>